body{
	width: 100%;
	height: 100%;
	font-family: "微软雅黑";
	color: black;
	background: #f5f5f5;
}
html{
	width: 100%;
	height: 100%;
	
}
*{
	margin: 0;
	padding: 0;
}
li { list-style:none; }
a { text-decoration:none;color: black }
img { border:none;}  /* 去除IE下默认边框,顶部对齐 */
p{margin: 0;padding: 0;}
.mui-bar{
	height:44px;
	line-height: 44px;
	background: #6A4A23;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.mui-action-back{
	display: inline-block;
	width: 44px;
	height: 44px;
}
header img{
	width:10px;
	height: 17px;
	position: absolute;
	top:13px;
}
.mui-title{
	color: #fff;
	font-size: 16px;
}
.mui-title span{
	float: right;
	font-size: 14px;
}
.mui-content{
	margin-bottom: 50px;
	width: 100%;
	background: #f5f5f5;

}
/**/

.main{
	width: 100%;
	padding:10px;
}

/*//*/
.main_two{
	width: 100%;
	background: #fff;
	border-radius: 10px;
}
.main_two_list{
	padding: 0 10px;
	margin-bottom: 10px;
	width: 100%;
	background: #fff;
	border-radius: 10px;
}
.two_list_top{
	padding: 12px 0px;
	width: 100%;
	height: 56px;
}
.two_list_top p{
	float: left;
}
.two_list_top p:nth-child(1){
	margin-right: 2.595%;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	overflow: hidden;
}
.two_list_top p:nth-child(1) img{
	width: 100%;
	border-radius: 50%;
}
.two_list_top p:nth-child(2){
	width: 47.41%;
}
.two_list_top p:nth-child(2) span{
	display: block;
	width: 100%;
	color: #666;
	font-size: 14px;
}
.two_list_top p:nth-child(2) span:nth-child(1){
	height: 20px;
	line-height: 20px;
}
.two_list_top p:nth-child(2) span:nth-child(2){
	height: 14px;
	line-height: 14px;
}
.two_list_top p:nth-child(3){
	float: right;
	width: 70px;
	height: 24px;
	text-align: center;
    line-height: 24px;
    color: #fff;
    font-size: 14px;
    background: #6A4A23;
    border-radius: 6px;
}
.two_list_top p:nth-child(3) span:nth-child(1){
	margin-right: 5px;
}
.two_list_two{
	padding: 6px 0;
	width: 100%;
	/*height:60px;*/
	border-bottom: 1px dotted #dbdbdb;
	border-top: 1px dotted #dbdbdb;
	position: relative;
}

.two_list_two p{
	float: left;
}
.two_list_two p:nth-child(1){
	width: 22%;
	height: 29px;
	line-height: 29px;
	text-align: center;
	color: #666;
	font-size: 14px;
}
.two_list_two p:nth-child(2){
	padding-left: 10px;
	width: 60%;
	
}
.two_list_two p:nth-child(2) span{
	display: block;
	width: 100%;
}
.two_list_two p:nth-child(2) span:nth-child(1){
	height: 29px;
	line-height: 29px;
	color: #333;
	font-size: 14px;

}
.two_list_two p:nth-child(2) span:nth-child(1) i{
	margin-right: 5px;
	font-style: normal;
}
.two_list_two p:nth-child(2) span:nth-child(1) a{
	margin-left: 5px;
	width:30px ;
	height: 30px;
	position: absolute;
	top: 14px;
	right: 0;
}
.two_list_two p:nth-child(2) span:nth-child(1) a img{
	width: 100%;
}
.two_list_two p:nth-child(2) span:nth-child(2){
/*	height: 14px;*/
	line-height: 18px;
	color: #333;
	font-size: 14px;
}

/*/////*/
.two_list_three ul{
	padding: 5px 9px;
	margin: 11px 0 15px 0 ;
	width: 100%;
	height: 55px;
	background: #f9f9f9;
	overflow: hidden;
}
.two_list_three ul li{
	width: 100%;
	margin-bottom: 3px;
	height: 21px;
	line-height: 21px;
	
}
.two_list_three ul li span{
	display: inline-block;
	float: left;
	font-size: 14px;
}
.two_list_three ul li span:nth-child(1){
	width: 145px;
	color: #333;
}
.two_list_three ul li span:nth-child(2){
	width: 25px;
	color: #666;
}
.two_list_three ul li span:nth-child(3){
	width: 91px;
	color: #333;
	text-align: right;
}
.two_list_three p.more{
	margin: auto;
	width: 80px;
	height: 20px;
	text-align: center;
	color: #cc3333;
	font-size: 14px;
	border: 1px solid #CC3333;
}
.two_list_three p.more span{
	display: inline-block;
	height: 20px;
	line-height: 19px;
}
.two_list_three p.more img{
	width: 9px;
	height: 5px;
	margin-left: 3px;
	margin-bottom: 2px;
}
.two_list_three div.pay{
	margin-top: 10px;
	margin-bottom: 5px;
	padding-right: 10px;
	width: 100%;
}
.two_list_three div.pay p{
	width: 100%;
	height: 21px;
	font-size: 14px;
}
.two_list_three div.pay p span:nth-child(1){
	display: inline-block;
	height: 21px;
	line-height: 21px;
	float: left;
	color: #666;
}
.two_list_three div.pay p span:nth-child(2){
	float: right;
	display: inline-block;
	height: 21px;
	line-height: 21px;
	text-align: right;
	color: #333;
}
.two_list_three div.zongJi{
	padding-right: 10px;
	width: 100%;
	height: 40px;
	text-align: right;
	line-height: 40px;
	font-size: 14px;
	color: #333;
	border-bottom: 1px dotted #DBDBDB;
	border-top: 1px dotted #dbdbdb;
}
.two_list_three div.zongJi span:nth-child(2){
	color: #CC3333;
}
/*//////*/
.two_list_fore{
	padding: 13px 0px;
	width: 100%;
	height: 42px;
	line-height: 15px;
	text-align: center;
	color: #333333;
	font-size: 14px;
}
.two_list_fore img{
	margin-right: 5px;
	width: 13.5px;
}
/*///////////*/
.main_three{
	padding:8px 10px ;
	margin-top: 10px;
	width: 100%;
	background: #fff;
	border-radius: 10px;
	position: relative;
}
.main_three p{
	width: 100%;
	height: 21px;
	line-height: 21px;
	font-size: 14px;
}
.main_three p span{
	display: inline-block;
	float: left;
}
.main_three p span:nth-child(1){
	margin-right: 2%;
	width: 20%;
	color: #666;
}
.main_three p span:nth-child(2){
	width:78%;
	color: #333;
}
/*.main_three p:nth-child(4) span:nth-child(2){
	color: #CC3333 !important;
}*/
.wait_order{
	width: 85px !important;
	height: 22px !important;
	text-align: center;
	line-height: 22px !important;	
	background: #CC3333;
	font-size: 12px !important;
	color: #fff;
	border-radius: 4px;
	position: absolute;
	top: 10px;
	right: 10px;
}
.wait_order span{
	display: inline-block !important;
	width: 30px !important;
	float: right !important;
	margin-left: 2px;!important;
	color: #fff !important;
}
/*////////////////*/
.main_fore{
	padding:10px;
	margin-top: 10px;
	width: 100%;
	background: #fff;
	border-radius: 10px;
	position: relative;
}
.main_fore p:nth-child(1){
	margin-bottom: 3px;
	width: 100%;
	height:35px;
}
.main_fore p span{
	display: inline-block;
	float: left;
}
.main_fore p:nth-child(1) span:nth-child(1){
	margin-right: 20px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	overflow: hidden;
}
.main_fore p:nth-child(1) span:nth-child(1) img{
	width: 100%;
}
.main_fore p:nth-child(1) span:nth-child(2){
	height: 35px;
    line-height: 35px;
    color: #333;
    font-size: 14px;
}
.main_fore p:nth-child(1) span:nth-child(3){
	float: right;
	width: 70px;
	height: 22px;
    line-height: 22px;
    text-align: center;
    line-height: 22px;
    color: #fff;
    font-size: 14px;
    background: #CC3333;
    border-radius: 3px;
}
.main_fore p:nth-child(2),
.main_fore p:nth-child(3),
.main_fore p:nth-child(4){
	margin-top: 1px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
}
.main_fore p:nth-child(2) span:nth-child(1),
.main_fore p:nth-child(3) span:nth-child(1),
.main_fore p:nth-child(4) span:nth-child(1){
	width: 56px;
	height: 20px;
	margin-right: 10px;
	line-height: 20px;
	color: #666;
	font-size: 14px;

}
.main_fore p:nth-child(2) span:nth-child(2){
    color: #333;
}
.main_fore p:nth-child(3) span:nth-child(2){
    color: #333;
}
.main_fore p:nth-child(4) span:nth-child(2){
    color: #CC3333;
}
.main_fore p:nth-child(2) span:nth-child(3) a{
	display: inline-block;
	margin-left: 20px;
	width:30px ;
	height: 30px;
	position: absolute;
	top: 50px;
	right:10px;
}
.main_fore p:nth-child(2) span:nth-child(3) a img{
	width: 100%;
}
/*///////*/
nav{
	width: 100%;
	height:40px !important;
	line-height: 40px !important;
}
nav p{
	float: left;
	width: 50%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 15px;
}
nav p:nth-child(1){
	background: #999;
}
nav p:nth-child(2){
	background: #6A4A23;
}
/*//////*/
.phone_pop,.quxiao_pop,.qxOrder_pop,.addPay_pop{
	display: none;
	width: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
.phone,.quxiao{
	width:65%;
	height: 100px;
	background: #fff;
	border-radius: 6px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.phone p,.quxiao p{
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 14px;
}
.phone p:nth-child(1),.quxiao p:nth-child(1){
	color: #333;
	border-bottom: 1px dotted #dbdbdb;
}
.phone p:nth-child(2) a,.quxiao p:nth-child(2) a{
	display: inline-block;
	float: left;
	width: 50%;
	height: 50px;
	color: #CC3333;
	font-size: 14px;
}
.phone p:nth-child(2) a:nth-child(1),.quxiao p:nth-child(2) a:nth-child(1){
	border-right: 1px dotted #dbdbdb;
}
/*////*/
.qxOrder{
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	background:#939393;
}
.qxOrder p{
	padding: 0 5%;
	width:100%;
	height: 43px;
	background: #fff;
	text-align: center;
	line-height: 43px;
	color: #333;
	font-size: 14px;
	border-bottom: 1px dotted #dbdbdb;
}
.qxOrder p:last-child{
	border-bottom: none;
}
.qxOrder p:first-child{
	width: 100%;
	height: 40px;
	background: #fff;
	text-align: center;
	line-height: 40px;
	color: #6A4A23;
	font-size: 14px;
}
.qxOrder div{
	margin-top: 10px;
	width: 100%;
	height: 43px;
	text-align: center;
	line-height: 43px;
	color: #fff;
	font-size: 15px;
	background: #6A4A23;
}
/**/
.addPay{
	width:65%;
	height: 121px;
	background: #fff;
	border-radius: 6px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.addPay p:nth-child(1){
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 14px;
	color: #333;
}
.addPay p:nth-child(2){
	margin-top: -10px;
	width: 100%;
	height: 40px;
	text-align: left;
}
.addPay p:nth-child(2) input{
	float: left;
	padding: 0;
	margin: 0;
	width:100%;
	height: 100%;
	text-align: center;
	line-height: 40px;
	color: #333;
	font-size: 19px;
	border: none;
}
.addPay p:nth-child(3){
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: #333;
	border-top: 1px dotted #dbdbdb;
}
.addPay p:nth-child(3) a{
	display: inline-block;
	float: left;
	width: 50%;
	height: 40px;
	color: #CC3333;
	font-size: 14px;
}
.addPay p:nth-child(3) a:nth-child(1){
	border-right: 1px dotted #dbdbdb;
}