<ion-content>
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back" navPop>
            <img src="assets/img/order/back.png" alt=""/>
        </a>
        <h1 class="mui-title">消息</h1>
    </header>
    <div class="mui-content">
        <div class="list" [hidden]="true">
            <p>
                <img src="assets/img/enter/xiaoxi_1.png"/>
            </p>
            <p>
                <span>订单状态</span>
                <span class="mui-ellipsis">您有新的订单状态，点击查水电费v看</span>
            </p>
            <p>
                <span>05-22</span>
                <span>09:56</span>
            </p>
        </div>
        <div class="list" [hidden]="true">
            <p>
                <img src="assets/img/enter/xiaoxi_2.png"/>
            </p>
            <p>
                <span>通知消息</span>
                <span class="mui-ellipsis">您有一个新的订单，点击查看</span>
            </p>
            <p>
                <span>05-22</span>
                <span>09:56</span>
            </p>
        </div>
        <div class="list" [hidden]="true">
            <p>
                <img src="assets/img/enter/xiaoxi_3.png"/>
            </p>
            <p>
                <span>异常订单</span>
                <span>您有一个异常订单，点击查看</span>
            </p>
            <p>
                <span>05-22</span>
                <span>09:56</span>
            </p>
        </div>

        <!--<div class="list" *ngFor="let li of messageList" (click)="setMessageToRead(li.id)">-->
        <div class="list" *ngFor="let li of messageList" (click)="gotoDetail(li)">
            <p>
                <img src="assets/img/enter/xiaoxi_2.png"/>
            </p>
            <p>
                <span>{{li.title}}</span>
                <span class="mui-ellipsis">{{li.content}}</span>
            </p>
            <p>
                <span>{{li.inserttime | timeToString}}</span>
                <!--<span>09:56</span>-->
            </p>
        </div>

    </div>
</ion-content>
