<ion-content>
  <header class="mui-bar mui-bar-nav">
    <a class="mui-action-back" navPop>
      <img src="assets/img/order/back.png" alt=""/>
    </a>
    <h1 class="mui-title">已完成订单查询</h1>
  </header>
  <div class="mui-content">
    <div class="main">
      <!--<div class="main_two">-->
        <!--<div class="main_two_list">-->
          <!--<div class="two_list_top">-->
            <!--<p><img src="assets/img/user/meituan.png"/></p>-->
            <!--<p>-->
              <!--<span>美团外卖</span>-->
              <!--<span class="mui-ellipsis">000000000000000</span>-->
            <!--</p>-->
            <!--<p class="link" data-link="../../html/user/finished_order_detail.html">-->
              <!--查看详情-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="two_list_two">-->
            <!--<p>配送地址:</p>-->
            <!--<p>-->
	    						<!--<span>-->
	    							<!--<i>小明</i>-->
	    							<!--<i>18000000000</i>-->
	    							<!--<a href="tel:00000000000"><img src="assets/img/order/iphone.png" alt=""/></a>-->
	    						<!--</span>-->
              <!--<span>中原国家广告产业园7号楼3层</span>-->
            <!--</p>-->
            <!--<div style="clear: both;"></div>-->
          <!--</div>-->
          <!--<div class="two_list_three">-->
            <!--<ul>-->
              <!--<li>-->
                <!--<span class="mui-ellipsis">西红柿炒鸡蛋盖浇饭</span>-->
                <!--<span>x1</span>-->
                <!--<span>￥9</span>-->
              <!--</li>-->
              <!--<li>-->
                <!--<span class="mui-ellipsis">西红柿炒鸡蛋盖浇饭</span>-->
                <!--<span>x1</span>-->
                <!--<span>￥9</span>-->
              <!--</li>-->
              <!--<li>-->
                <!--<span class="mui-ellipsis">西红柿炒鸡蛋盖浇饭</span>-->
                <!--<span>x1</span>-->
                <!--<span>￥9</span>-->
              <!--</li>-->
              <!--<li>-->
                <!--<span class="mui-ellipsis">西红柿炒鸡蛋盖浇饭</span>-->
                <!--<span>x1</span>-->
                <!--<span>￥9</span>-->
              <!--</li>-->
              <!--<li>-->
                <!--<span class="mui-ellipsis">西红柿炒鸡蛋盖浇饭</span>-->
                <!--<span>x1</span>-->
                <!--<span>￥9</span>-->
              <!--</li>-->
              <!--<li>-->
                <!--<span class="mui-ellipsis">西红柿炒鸡蛋盖浇饭</span>-->
                <!--<span>x1</span>-->
                <!--<span>￥9</span>-->
              <!--</li>-->
              <!--<li>-->
                <!--<span>西红柿炒鸡蛋盖浇饭</span>-->
                <!--<span>x1</span>-->
                <!--<span>￥9</span>-->
              <!--</li>-->
            <!--</ul>-->
            <!--<p class="more">-->
              <!--<span>展开更多</span>-->
              <!--<img src="assets/img/order/xiala.png" alt=""/>-->
            <!--</p>-->
            <!--<div class="pay">-->
              <!--<p>-->
                <!--<span>商品费</span>-->
                <!--<span>￥58</span>-->
              <!--</p>-->
              <!--<p>-->
                <!--<span>商品费</span>-->
                <!--<span>￥5</span>-->
              <!--</p>-->
            <!--</div>-->
            <!--<div class="zongJi">-->
              <!--<span>总计：</span>-->
              <!--<span>￥61</span>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="two_list_fore">-->
            <!--<p>-->
              <!--<img src="assets/img/user/touxiang.png"/>-->
            <!--</p>-->
            <!--<p>-->
              <!--鱼师傅-->
            <!--</p>-->
            <!--<p>-->
              <!--18000000000-->
            <!--</p>-->
            <!--<p>-->
              <!--<a href="tel:00000000000"><img src="assets/img/order/iphone.png" alt=""/></a>-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="two_list_five">-->
            <!--<p>发布订单</p>-->
            <!--<p class="link" data-link="edit_order.html">编辑订单</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <div class="main_two" *ngFor="let order of orderList">
        <div class="main_two_list" >
          <div class="two_list_top">
            <p><img src="{{order.ordersourcetype | waimai}}"/></p>
            <p>
              <span>{{order.orderSourceTypeMode.name}}</span>
              <span class="mui-ellipsis">{{order.platformorderid}}</span>
            </p>
            <p class="link" data-link="../../html/user/finished_order_detail.html" hidden>
              查看详情
            </p>
          </div>
          <div class="two_list_two">
            <p>配送地址:</p>
            <p>
	    						<span>
	    							<i>{{order.consignee}}</i>
	    							<i>{{order.phonelist}}</i>
	    							<a href="tel:{{order.phonelist}}"><img src="assets/img/order/iphone.png" alt=""/></a>
	    						</span>
              <span>{{order.deliverypoiaddress}}</span>
            </p>
            <div style="clear: both;"></div>
          </div>
          <div class="two_list_three">
            <ul>
              <li *ngFor="let li of order.items">
                <span class="mui-ellipsis">{{li.name}}</span>
                <span>x{{li.quantity}}</span>
                <span>￥{{li.price}}</span>
              </li>
            </ul>
            <p class="more" hidden>
              <span >展开更多</span>
              <img src="assets/img/order/xiala.png" alt=""/>
            </p>
            <div class="pay">
              <p>
                <span>商品费</span>
                <span>￥{{order.itemstotlaprice}}</span>
              </p>
              <p>
                <span>配送费</span>
                <span>￥{{order.deliverfee}}</span>
              </p>
            </div>
            <div class="zongJi">
              <span>总计：</span>
              <span>￥{{order.totalprice}}</span>
            </div>
          </div>
          <div class="two_list_fore" *ngIf="order.rider">
            <p>
              <!--<img src="assets/img/user/touxiang.png"/>-->
              <img src="{{order.rider.headPic}}"/>
            </p>
            <p>{{order.rider.nickName}}</p>
            <p>{{order.rider.riderTelphone}}</p>
            <p>
              <a href="tel:{{order.rider.riderTelphone}}"><img src="assets/img/order/iphone.png" alt=""/></a>
            </p>
          </div>
          <div class="two_list_five" hidden>
            <p>发布订单</p>
            <p class="link" data-link="edit_order.html">编辑订单</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
