body{
	width: 100%;
	height: 100%;
	font-family: "微软雅黑";
	color: black;
	background: #f5f5f5;
}
html{
	width: 100%;
	height: 100%;
	
}
*{
	margin: 0;
	padding: 0;
}
li { list-style:none; }
a { text-decoration:none;color: black }
img { border:none;}  /* 去除IE下默认边框,顶部对齐 */
p{margin: 0;padding: 0;}
.mui-bar{
	padding: 0 !important;
	height:44px;
	line-height: 44px;
	background: #fff;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-bottom: 1px solid #ccc;
}
.mui-action-back,.lianxi{
	display: inline-block;
	width:12.5%;
	height: 44px;
	text-align: center;
	position: relative;
	
}
.mui-action-back img{
	width:9px;
	position: absolute;
	top:14px;	
	left: 15px;
}
.mui-action-back{
	float: left;	
}
.lianxi{
	float: right;
	padding-right: 15px;
	text-align: right;
	color: #333;
	font-size: 12px;
}
.sear{
	float: left;
	padding: 0 33px;	
	margin-top: 11px;
	width: 71.875%;
	height: 25px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 30px;
	position: relative;
}
.sear_icon{
	width: 13px;
	height: 13px;
	position: absolute;
	left: 14px;
	top: 5px;
}
.clear_icon{
	display: none;
	width: 14px;
	height: 14px;
	position: absolute;
	top: 5px;
	right: 14px;
}
.sear input{
	padding: 0;
	margin: 0;
	width: 71%;
	height: 23px;
	text-align: center;
	line-height: 23px;
	color: #333;
	font-size: 12px;
	background: #fff;
	border: none;
	position: absolute;
	top: 0;
	left: 33px;
}
.mui-content{
	width: 100%;
	background: #f5f5f5;

}
/**/
.nav{
	position: relative;
}
.nav_tit{
	padding: 9px 0;
	width: 100%;
	height: 42px;
	background: #fff;
	border-bottom: 1px solid #dbdbdb;
}
.nav_tit p{
	float: left;
	width: 50%;
	height: 24px;
	text-align: center;
	line-height: 24px;
	color: #333;
	font-size: 12px;
}
.nav_tit p:nth-child(1){
	border-right: 1px solid #dbdbdb;
}
.nav_tit p img{
	width: 10px;
	height: 5px;
	margin-left: 5px;
}
.nav_txt{
	display: none;
	width: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 42px;
	left: 0;
	z-index: 3;
}
.time_choose{
	display: none;
	width: 100%;
	height: 208px;
	background: #fff;
}
.time_top{
	padding-left: 12px;
	padding-bottom: 12px;
	width: 100%;
	height: 164px;
	border-bottom: 1px solid #dbdbdb;
}
.time_top p{
    line-height: 44px;
    color: #333333;
    font-size: 12px;
	
}
.time_top div{
	height:32px ;
}
.time_top div input{
	float: left;
	margin: 0;
	padding: 0 5px;
	width:24.355%;
	text-align: center;
	height: 32px;
	line-height: 32px;
	color: #333;
	font-size: 12px;
	border-radius: 6px;
	border: 1px solid #dbdbdb;
}
.time_top div span{
	float: left;
	display: inline-block;
	width:8.77%;
	height: 32px;
	text-align: center;
	line-height: 32px;
	color: #333;
	font-size: 12px;
}
.time_bot{
	padding: 8px 48px;
	width: 100%;
	height: 45px;	
}
.time_bot p{
	float: left;
	width:29.02%;
	height: 27px;
	text-align: center;
	line-height: 27px;
	border: 1px solid #DBDBDB;
	border-radius: 30px;
	color: #333333;
	font-size: 12px;
	background: #fff;
}
.time_bot p:last-child{
	float: right;
	color: #fff;
	background: #6A4A23;
	border: 1px solid #6A4A23;
}
.pingTai_choose{
	padding-top: 7px;
	width: 100%;
	background: #fff;
}
.pingTai_choose ul li{
	float: left;
	margin-left: 12px;
	margin-bottom: 7px;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	position: relative;
}
.pingTai_choose ul li img{
	width: 100%;
	border-radius: 50%;
	border: 1px solid #dbdbdb;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
/**/
.mui-scroll-wrapper{
	top: 86px;
}
.mui-bar-nav~.mui-content .mui-pull-top-pocket{
	top: 0;
}
.main{
	width: 100%;
	padding: 0 15px;
}
.main_tit{
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #333;
	font-size: 12px;
}
.main_one div{
	margin-bottom: 12px;
	padding: 11px 0;
	width: 100%;
	height: 58px;
	background: #fff;
	border-radius: 6px;
}
.main_one div:last-child{
	margin-bottom: 0;
}
.main_one div p{
	float: left;
	width: 50%;
	height: 36px;
	text-align: center;
}
.main_one div p:first-child{
	border-right: 1px solid #dbdbdb;
}
.main_one div p span{
	display: block;
	width: 100%;
	height: 15px;
	text-align: center;
	line-height: 15px;
}
.main_one div p span:nth-child(1){
	margin-bottom: 9px;
	color: #FFCC00;
	font-size: 14px;
}
.main_one div p span:nth-child(2){
	color: #333;
	font-size: 12px;
}
/*//*/
.main_two{
	margin-top: 10px;
	padding: 0 12px;
	width: 100%;
	border-radius: 10px;
	background: #fff;
}
.main_two_tit{
	width: 100%;
	height: 38px;
	line-height: 38px;
	color: #6A4A23;
	font-size: 12px;
}
.main_two_list div{
	width: 100%;
	height: 50px;
	background: #fff;
	border-bottom: 1px solid #ccc;
}
.main_two_list div:last-child{
	border-bottom: none;
}
.main_two_list p{
	float: left;
}
.main_two_list p:nth-child(1){
	padding: 4px 0;
	width:15.04%;
}
.main_two_list p:nth-child(1) span{
	display:inline-block;
	width: 100%;
	height: 19px;
	line-height: 19px;
	color: #333;
}
.main_two_list p:nth-child(1) span:nth-child(1){
	font-size: 12px;
	font-weight: bold;
}
.main_two_list p:nth-child(1) span:nth-child(2){
	font-size: 10px;
}
.main_two_list p:nth-child(2){
	width:57%;
	height: 50px;
	line-height: 50px;
	color: #666;
	font-size: 12px;
}
.main_two_list p:nth-child(3){
	float: right;
	width:26%;
	height: 50px;
	text-align: right;
	line-height: 50px;
	color: #333;
	font-size: 12px;
	font-weight: bold;
}